a {
    text-decoration: none;
}

.navigations-sidebar {
    width: 100%;
    height: 100%;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    display: inline-flex;
    align-items: center;
    cursor: default;
    background-color: var(--dark-black);
    color: var(--white); 
    padding-left: 2.5rem;
}

.navigation-icons{
    width: 2.2rem;
    height: 2.2rem;
}

.navigations-sidebar-text {
    margin-left: 1rem;
    font-size: 1.5rem;
    font-weight: 200;
}

.navigations-sidebar:hover {
    transition: all 0.3s ease-in-out;
    background-color: var(--light-black);
}

.generic-button {
    border: none;
    width: fit-content;
    border-radius: 50px;
    text-align: end;
    text-decoration: none;
    display: inline-flex;
    
}



.button-text{
    margin-left: 0.2rem;
    font-size: 1.1rem;
    font-weight: 400;
}

.button-icons {
    width: 1.5rem;
    height: 1.5rem;
}

