@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

::-webkit-scrollbar {
    display: none;
}

:root {
    --dark-black: #010102;
    --light-black: #22303c;
    --white: #fefcff;
    --gray: #2e3438;
    --blue: #005ac2;
    --light-blue: #0288f5;
    
    --font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--dark-black);
    color: var(--white);
}

.app{
    width: 100vw;
    height: 100vh;
    display: inline-flex;
}

.icon {
    min-width: 0.2rem;
    min-height: 0.2rem;
}

p{
    margin: 0;
}